button {
  padding: 0.75rem 0.75rem;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: rgb(189, 0, 0);
}
button:active {
  background-color: #000;
}
button:focus {
  border: 2px solid black;
}

a {
  text-decoration: none;
}
